<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-mvc-tutorial-8:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_mvc_tutorial_8_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring-mvc-tutorial-8/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-mvc-tutorial-8" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Spring-4.3.4.RELEASE" />
          <element id="library" level="project" name="Spring MVC-4.3.4.RELEASE" />
        </element>
      </element>
    </root>
  </artifact>
</component>